<% if @client.errors.any? %>
<div id="error_explanation">
  <h2>There were some errors:</h2>
  <ul>
    <% @client.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<br>
<br>
<br>
<br>

<%= form_for @client do |f| %>


<%= f.label :first_name %>  
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.label :age %>
<%= f.number_field :age %>
<br>
<br>
<br>
<%= f.submit %>
<%end%>